.idea/
/bin/
/web/bundles/
/web/assetic/
/web/cache/
/web/media/*
/web/uploads/files/*
/web/uploads/contract/*
/web/downloads/users/*
/web/components/
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/app/config/parameters.yml
*.php~