{% extends "SSystemsBackendBundle:Backend:admin_layout.html.twig" %}

{% block body %}
  <div class="row-fluid">
    <form class="form-horizontal">
      <legend>Login form</legend>

      <div class="control-group">
        <label class="control-label" for="username">Username</label>
        <div class="controls">
          <input type="text" id="username" placeholder="Username">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="password">Password</label>
        <div class="controls">
          <input type="password" id="password" placeholder="Password">
        </div>
      </div>

      <div class="form-actions">
        <label class="control-label"><input type="checkbox"> Remember me</label>
        <div class="controls">
          <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
      </div>
    </form>
  </div><!--/.row-fluid -->
{% endblock %}