<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Untitled Document</title>
</head>

<body>
<p>Contrato de Exclusividad</p>
<p>  1.	Definiciones<br />
    2.	Restricciones<br />
    3.	Excepciones<br />
    4.	Capacidad y garantías<br />
    5.	Terminación<br />
    6.	Varios</p>
<p>  ESTE ES UN DOCUMENTO IMPORTANTE Y CONTIENE MUCHAS DISPOSICIONES IMPORTANTES QUE AFECTAN A SUS DERECHOS Y OBLIGACIONES. AL MARCAR LA CASILLA DE ACEPTACIÓN DE ESTE CONTRATO DE EXLUSIVIDAD (EL &quot;CONTRATO&quot;), USTED ACEPTA QUEDAR OBLIGADO POR ESTE CONTRATO. LE ANIMAMOS A QUE IMPRIMA UNA COPIA DE ESTE CONTRATO PARA SUS ARCHIVOS.</p>
<p>  Este Contrato regula sus derechos y obligaciones como colaborador Exclusivo  Estoc (el &quot;Colaborador Exclusivo &quot;) que remite imágenes, vectores, vídeo y cualquier otro contenido creativo (las &quot;Obras&quot;) a la página web estoc.ec (la &quot;Página Web&quot;). Este Contrato entre usted y estoc.ec (&quot;estoc&quot;) es un añadido a nuestros Términos y condiciones de uso, nuestra Política de privacidad, nuestro Contrato de envío de contenidos y todos los demás documentos y provisiones aplicables al uso de www.estoc.ec (la &quot;Página Web&quot;). </p>
<p>  1. Definiciones<br />
    La Exclusividad Total es un estatus para colaboradores que envían y ofrecen sus contenidos en la Página Web estoc.ec<br />
    Ser Colaborador Exclusivo significa que ningún contenido del Colaborador subido y a la venta en estoc.ec se ofrece gratis o a la venta en otra página web de banco de imágenes o en la propia página web del artista.Todos los contenidos cargados en la web estoc.ec del Colaborador Exclusivo deben ser exclusivamente ofrecidos para la venta  en la Página Web estoc.ec<br />
</p>
<p>2. Restricciones</p>
<p>EL COLABORADOR EXCLUSIVO NO PUEDE VENDER U OFERTAR GRATIS EN OTRO WEBSITE LAS OBRAS PUBLICADAS A LA VENTA EN ESTOC.EC</p>
<p>  3. Excepciones<br />
    Sujeto a los términos y condiciones de este Contrato, el Colaborador Exclusivo conservará el derecho:<br />
    a vender sus Obras que no hayan sido publicadas por estoc.ec, por sí mismo/a o a través de una empresa de gestión de Derechos<br />
    A vender sus Obras que no hayan sido publicadas por estoc.ec a través de una página web personal donde se muestra su portfolio. En este caso, la página web no podrá ofrecer gratis o a la venta Obras de otros autores.<br />
    A vender sus Obras que no hayan sido publicadas en estoc.ec directamente a un usuario final de acuerdo a un contrato de encargo<br />
    A vender sus Obras que no hayan sido publicadas en estoc.ec directamente a un usuario final de acuerdo a un contrato editorial<br />
    A vender copias impresas de sus Obras que no hayan sido publicadas en estoc.ec<br />
    A imprimir y vender productos derivados, incluyendo, sin limitarse, a posters, camisetas, ropa, decoración y similar, bien por sí mismo/a o a través de una página web dedicada. En este caso, obras que no hayan sido publicadas en estoc.ec<br />
</p>
<p>4. Capacidad y garantías <br />
    Añadida a las declaraciones y garantías ya realizadas, tanto estoc como usted declaran y garantizan que tienen derecho a realizar este Contrato.<br />
</p>
<p>5. Terminación<br />
    Este Contrato debe continuar a perpetuidad a menos que sea terminado de acuerdo a esta Sección 6. Estoc puede, en cualquier momento y sin aviso previo, terminar este Contrato a su propia discreción, incluyendo, sin limitación, por vulneración por parte del Colaborador Exclusivo de cualquiera de sus declaraciones, garantías u obligaciones derivadas de o contenidas en este Contrato.<br />
    El Colaborador Exclusivo estoc puede terminar este Contrato en cualquier momento enviando un e mail a info.estoc@gmail.com<br />
</p>
<p>6. Varios<br />
</p>
<p>El presente Contrato se regirá e interpretará de conformidad con las leyes de la provincia del Guayas, al margen de los principios sobre los conflictos de derecho y de los principios del derecho internacional privado. Cualquier demanda legal, acción o surgimiento de procedimiento fuera o referente a este Contrato serán instituidos en una corte de la jurisdicción competente del tema en el federal o los tribunales de la provincia del Guayas, y usted y estoc cada uno se someten a la jurisdicción personal de tal corte y renuncian al derecho que cada uno pudo tener de otra manera para demandar carencia de la jurisdicción personal o la inconveniencia del fuero.<br />
</p>
<p>El fallo de estoc de ejercitar o reforzar cualquier derecho o provisión de este Contrato no debe constituir una renuncia de dicho derecho o provisión. Si alguna disposición de este Contrato es declarada inválida por un juzgado de una jurisdicción competente, las partes acuerdan que el juzgado debe dar pleno efecto a las intenciones de las partes como está reflejado en la disposición, y las otras disposiciones de este Contrato deben conservar su plena fuerza y efecto.<br />
</p>
<p>La relación entre estoc y usted según los términos de este Contrato es la de contratistas independientes. Para los propósitos de la clarificación, usted y estoc deben y actúan de modo independiente y las partes no son empresas conjuntas, socios, director y agente, o patrón y empleado. Usted no tiene ninguna autoridad para asumir o crear ninguna obligación en nombre de estoc, implícita o explícita, y usted no debe intentar vincular el nombre de estoc a ningún contrato o acción en su nombre.<br />
</p>
<p>estoc tendrá el derecho, a su única discreción, de asignar cualquiera o todos sus derechos y obligaciones según los términos de este Contrato. Usted no tendrá ningún derecho de asignar cualesquiera de sus derechos u obligaciones según los términos de este acuerdo.<br />
</p>
<p>Usted específicamente acuerda y reconoce que, en adición a los términos de este Contrato, usted ha revisado los Términos y condiciones de uso y cualquier otro Contrato que pueda estar incorporado, y usted acuerda estar sujeto a todos ellos.<br />
    Este Contrato será en beneficio de, y sobre, estoc y usted, y sus sucesores respectivos. No está destinado para otorgar sobre ninguna persona o entidad, con excepción de estoc y de usted, y sus sucesores respectivos nada en este Contrato, expreso o implícito, cualquier derecho, remedios, obligaciones o responsabilidad según los términos o por causa de este Contrato.<br />
    Siempre que el contexto así lo requiera, el singular incluirá el plural y viceversa, y los géneros masculinos, femeninos y neutrales se incluirán mutuamente.</p>
<p>  Si algún término o disposición de este Contrato es inválida, ilegal o no ejecutable, el resto de las condiciones de este Contrato sin embargo seguirán teniendo su completa fuerza y efecto.<br />
    Los títulos subrayados contenidos en este Contrato están para la conveniencia de la referencia solamente y no afectarán de ninguna manera al significado o a la interpretación de este Contrato.</p>
</body>
</html>
